
@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Cargos. Escolha uma opção</h1>
<div>
    <a asp-controller="Cargos" asp-action="AdicionarCargo" class="btn btn-primary">Cadastro de Cargos</a>

    <a asp-controller="Cargos" asp-action="ListarCargos" class="btn btn-secondary">Lista de Cargos</a>

</div>