@model ProjetoMyTE.WebApp.Models.Entities.Area

@{
    ViewData["Title"] = "Alterar Area";
}

<h1>Alterar a Área</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AlterarArea">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div> *@
            <div class="mb-3">
                <label asp-for="DESCRICAO" class="control-label"></label>
                <input asp-for="DESCRICAO" class="form-control" />
                <span asp-validation-for="DESCRICAO" class="text-danger"></span>
            </div>
            <div class"="mt-3">
                <input type="submit" value="Salvar Alterações" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="ListarAreas">Voltar para a Lista</a>
</div>

